<a href="https://colab.research.google.com/github/JedWojtowicz/MAD_jw/blob/main/JW_lab_05_PD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd
import os

In [69]:
url = 'https://raw.githubusercontent.com/kropiak/swps-metody-analizy-danych/refs/heads/main/lab_05/data/loan_data.csv'
df = pd.read_csv(url)
df.index = range(1, df.shape[0] + 1)

## Zadania

1. Zamień nazwę kolumny `loan_amnt` na `loan_amount`.

In [70]:
df.rename(columns={"loan_amnt": "loan_amount"},inplace=True)
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
1,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
2,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
3,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
4,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
5,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44996,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44997,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44998,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44999,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
45000,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

2. Z ramki danych wykorzystanej w przykładach (loan) wyświetl:
* a) tylko kolumny 'person_gender', 'person_age' oraz 'person_income',
* b) wiersze od 1000 do 2000 włącznie (chodzi o kolejne wiersze w ramce, a nie wartość indeksu),
* c) wiersze parzyste,
* d) wiersze o parzystej wartości w kolumnie indeks,
* e) pierwszą i ostatnią kolumnę.

In [71]:
print("a)")
display(df.loc[:,["person_gender", "person_age", "person_income"]])
print("b)")
display(df.loc[1000:2000])
print("c)")
display(df.loc[::2])
print("d)")
display(df.loc[df.index % 2 == 0])
print("e)")
display(df.iloc[:,[0,-1]])

a)

      person_gender  person_age  person_income
1            female        22.0        71948.0
2            female        21.0        12282.0
3            female        25.0        12438.0
4            female        23.0        79753.0
5              male        24.0        66135.0
...             ...         ...            ...
44996          male        27.0        47971.0
44997        female        37.0        65800.0
44998          male        33.0        56942.0
44999          male        29.0        33164.0
45000          male        24.0        51609.0

[45000 rows x 3 columns]

b)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
1000,25.0,female,High School,67409.0,4,RENT,18000.0,HOMEIMPROVEMENT,10.99,0.27,4.0,646,No,1
1001,23.0,male,Bachelor,30059.0,0,MORTGAGE,1375.0,MEDICAL,11.11,0.05,4.0,506,No,1
1002,24.0,male,Bachelor,68258.0,2,RENT,18000.0,EDUCATION,13.48,0.26,3.0,671,No,1
1003,21.0,male,Bachelor,60821.0,0,RENT,18000.0,EDUCATION,14.74,0.30,2.0,530,No,1
1004,25.0,male,High School,70432.0,6,RENT,18000.0,VENTURE,11.01,0.26,4.0,609,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,21.0,male,Associate,36953.0,0,MORTGAGE,6400.0,VENTURE,11.01,0.17,3.0,567,Yes,0
1997,21.0,male,Master,37264.0,0,RENT,14000.0,MEDICAL,10.65,0.38,2.0,545,No,1
1998,24.0,female,Associate,36841.0,4,RENT,14000.0,DEBTCONSOLIDATION,7.90,0.38,2.0,538,No,1
1999,24.0,male,Bachelor,37068.0,2,MORTGAGE,3075.0,DEBTCONSOLIDATION,11.01,0.08,4.0,521,Yes,0
2000,22.0,male,Bachelor,37513.0,0,RENT,14000.0,VENTURE,6.99,0.37,4.0,595,No,1

c)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
1,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
3,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
5,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
7,26.0,female,Bachelor,93471.0,1,RENT,35000.0,EDUCATION,12.42,0.37,3.0,701,No,1
9,24.0,female,Associate,100684.0,3,RENT,35000.0,PERSONAL,8.90,0.35,2.0,544,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44991,31.0,male,Master,136832.0,9,RENT,12319.0,PERSONAL,16.92,0.09,7.0,722,No,1
44993,23.0,female,Bachelor,40925.0,0,RENT,9000.0,PERSONAL,11.01,0.22,4.0,487,No,1
44995,24.0,female,Associate,31924.0,2,RENT,12229.0,MEDICAL,10.70,0.38,4.0,678,No,1
44997,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44999,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1

d)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
2,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
4,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
6,21.0,female,High School,12951.0,0,OWN,2500.0,VENTURE,7.14,0.19,2.0,532,No,1
8,24.0,female,High School,95550.0,5,RENT,35000.0,MEDICAL,11.11,0.37,4.0,585,No,1
10,21.0,female,High School,12739.0,0,OWN,1600.0,VENTURE,14.74,0.13,3.0,640,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44992,24.0,male,High School,37786.0,0,MORTGAGE,13500.0,EDUCATION,13.43,0.36,4.0,612,No,1
44994,27.0,female,High School,35512.0,4,RENT,5000.0,PERSONAL,15.83,0.14,5.0,505,No,1
44996,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44998,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
45000,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

e)

       person_age  loan_status
1            22.0            1
2            21.0            0
3            25.0            1
4            23.0            1
5            24.0            1
...           ...          ...
44996        27.0            1
44997        37.0            1
44998        33.0            1
44999        29.0            1
45000        24.0            1

[45000 rows x 2 columns]

3. Z tej samej ramki danych wyświetl dane wykorzystując filtry oparte o mapowanie:
* a) tylko kobiety z wykształceniem 'Master' oraz 'Bachelor' i pożyczkami pomiędzy 50000 a 70000,
* b) wszyscy mężczyźni z wykształceniem innym niż 'Master' oraz będący właścicielem lokalu (kolumna person_home_ownership = OWN),
* c) wszystkie osoby z wartością `loan_percent_income` w przedziale od 0.4 do 0.6,
* d) wszystkie wartości pożyczek, których kwota jest wielokrotnością liczby 10000.

In [80]:
print("a)")
display(df[(df['loan_amount'] > 50000) & (df['loan_amount'] < 70000) & (df['person_gender'] == 'female') & (df['person_education'].isin(["Master", "Bachelor"]))])
print("b)")
display(df[(df['person_gender'] == 'male') & (df['person_home_ownership'] == 'OWN') & ~(df['person_education'].isin(["Master"]))])
print("c)")
display(df[(df['loan_percent_income'] >= 0.40) & (df['loan_percent_income'] <= 0.60)])
print("d)")
display(df[df['loan_amount'] % 10000 == 0])

a)

Empty DataFrame
Columns: [person_age, person_gender, person_education, person_income, person_emp_exp, person_home_ownership, loan_amount, loan_intent, loan_int_rate, loan_percent_income, cb_person_cred_hist_length, credit_score, previous_loan_defaults_on_file, loan_status]
Index: []

b)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
28,23.0,male,High School,14293.0,0,OWN,1400.0,PERSONAL,9.32,0.10,3.0,607,No,0
31,21.0,male,High School,14858.0,0,OWN,2000.0,MEDICAL,11.12,0.13,3.0,589,No,1
36,21.0,male,Associate,15150.0,0,OWN,2500.0,EDUCATION,7.51,0.17,4.0,600,No,1
44,23.0,male,High School,361547.0,0,OWN,24250.0,EDUCATION,19.41,0.07,2.0,637,Yes,0
58,23.0,male,Bachelor,333399.0,1,OWN,35000.0,PERSONAL,11.01,0.10,4.0,609,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44354,25.0,male,High School,18772.0,2,OWN,4468.0,VENTURE,11.99,0.24,4.0,658,No,1
44392,26.0,male,Associate,15288.0,2,OWN,2690.0,EDUCATION,10.96,0.18,4.0,649,No,1
44544,30.0,male,High School,24052.0,8,OWN,7000.0,HOMEIMPROVEMENT,15.78,0.29,5.0,590,No,1
44684,23.0,male,Associate,23346.0,2,OWN,4027.0,VENTURE,15.01,0.17,4.0,646,No,1
44826,22.0,male,High School,22538.0,1,OWN,4913.0,EDUCATION,13.68,0.22,5.0,637,No,1

c)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
1,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
3,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
4,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
5,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
23,22.0,female,Master,79255.0,0,RENT,34000.0,EDUCATION,17.58,0.43,4.0,691,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44904,25.0,male,Associate,43219.0,1,RENT,22807.0,MEDICAL,12.67,0.53,5.0,668,No,1
44941,29.0,male,High School,30046.0,7,RENT,12092.0,PERSONAL,11.79,0.40,7.0,535,No,1
44943,27.0,male,Master,48432.0,8,RENT,20223.0,VENTURE,6.83,0.42,8.0,650,No,1
44967,26.0,female,Bachelor,36844.0,0,RENT,16000.0,DEBTCONSOLIDATION,12.00,0.43,5.0,620,No,1
44987,34.0,male,Bachelor,41876.0,14,RENT,19594.0,DEBTCONSOLIDATION,12.03,0.47,8.0,707,No,1

d)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amount,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
16,23.0,female,Master,600891.0,5,MORTGAGE,30000.0,DEBTCONSOLIDATION,10.65,0.05,3.0,670,Yes,0
37,22.0,female,Bachelor,58868.0,0,RENT,30000.0,EDUCATION,18.39,0.51,2.0,606,No,1
38,24.0,male,High School,78026.0,3,RENT,30000.0,DEBTCONSOLIDATION,14.54,0.38,3.0,582,No,1
39,25.0,male,Bachelor,90785.0,4,RENT,30000.0,HOMEIMPROVEMENT,16.89,0.33,4.0,649,No,1
40,23.0,female,High School,86811.0,0,RENT,30000.0,DEBTCONSOLIDATION,11.01,0.35,4.0,602,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44911,29.0,male,Bachelor,70997.0,6,RENT,20000.0,PERSONAL,13.28,0.28,5.0,676,No,1
44945,26.0,male,Associate,97590.0,7,RENT,30000.0,DEBTCONSOLIDATION,9.45,0.31,3.0,666,No,1
44954,36.0,male,Master,71544.0,13,RENT,10000.0,EDUCATION,10.85,0.14,15.0,576,No,1
44963,23.0,male,Associate,89930.0,0,MORTGAGE,10000.0,VENTURE,9.34,0.11,2.0,657,No,1
44985,24.0,female,High School,75941.0,1,RENT,20000.0,MEDICAL,14.85,0.26,4.0,592,No,1